.axis text {
  font: 10px sans-serif;
}
.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
td, th, tr {
  padding: 4px;
  border: 1px solid black;
}
table{
  border-collapse: collapse;
}
#dataView{
  margin-top:50px;
}